[submodule "microservices-users-service"]
	path = microservices-users-service
	url = https://github.com/prajwaldp/microservices-users-service
[submodule "microservices-content-service"]
	path = microservices-content-service
	url = https://github.com/prajwaldp/microservices-content-service
